In [56]:
import pandas as pd
import numpy as np
import json

In [57]:

df = pd.read_csv('./testSetSeg/manifest.csv').drop(['index', 'originalFreq', 'sampleFreq', 'fileName'], axis=1)

In [55]:
x = df.loc[lambda df: df['patientID'] == 258, :]
x

,patientID,age,gender,sessionID,fileID,segment,seizureDuration,seizureType
0,258,41,male,s2,t2,1,120.500,TCSZ
1,258,41,male,s2,t2,2,120.500,TCSZ
2,258,41,male,s2,t2,3,120.500,TCSZ
3,258,41,male,s2,t2,4,120.500,TCSZ
4,258,41,male,s2,t2,5,120.500,TCSZ
5,258,41,male,s2,t2,6,120.500,TCSZ
6,258,41,male,s2,t2,7,120.500,TCSZ
7,258,41,male,s2,t2,8,120.500,TCSZ
8,258,41,male,s2,t2,9,120.500,TCSZ
9,258,41,male,s2,t2,10,120.500,TCSZ
10,258,41,male,s2,t2,11,120.500,TCSZ
11,258,41,male,s2,t2,12,120.500,TCSZ
12,258,41,male,s2,t2,13,120.500,TCSZ
13,258,41,male,s2,t2,14,120.500,TCSZ
14,258,41,male,s2,t2,15,120.500,TCSZ
15,258,41,male,s2,t2,16,120.500,TCSZ
16,258,41,male,s2,t2,17,120.500,TCSZ
17,258,41,male,s2,t2,18,120.500,TCSZ
18,258,41,male,s2,t2,19,120.500,TCSZ
19,258,41,male,s2,t2,20,120.500,TCSZ
20,258,41,male,s2,t2,21,120.500,TCSZ
21,258,41,male,s2,t2,22,120.500,TCSZ
22,258,41,male,s2,t2,23,120.500,TCSZ
23,258,41,male,s2,t2,24,120.500,TCSZ
24,258,41,male,s3,t0,1,130.300,TCSZ
25,258,41,male,s3,t0,2,130.300,TCSZ
26,258,41,male,s3,t0,3,130.300,TCSZ
27,258,41,male,s3,t0,4,130.300,TCSZ
28,258,41,male,s3,t0,5,130.300,TCSZ
29,258,41,male,s3,t0,6,130.300,TCSZ
...,...,...,...,...,...,...,...,...
10300,258,41,male,s4,t0,24,181.748,FNSZ
10301,258,41,male,s4,t0,25,181.748,FNSZ
10302,258,41,male,s4,t0,26,181.748,FNSZ
10303,258,41,male,s4,t0,27,181.748,FNSZ
10304,258,41,male,s4,t0,28,181.748,FNSZ
10305,258,41,male,s4,t0,29,181.748,FNSZ
10306,258,41,male,s4,t0,30,181.748,FNSZ
10307,258,41,male,s4,t0,31,181.748,FNSZ
10308,258,41,male,s4,t0,32,181.748,FNSZ
10309,258,41,male,s4,t0,33,181.748,FNSZ
10310,258,41,male,s4,t0,34,181.748,FNSZ
10311,258,41,male,s4,t0,35,181.748,FNSZ
10312,258,41,male,s4,t0,36,181.748,FNSZ
10313,258,41,male,s4,t0,1,87.476,FNSZ
10314,258,41,male,s4,t0,2,87.476,FNSZ
10315,258,41,male,s4,t0,3,87.476,FNSZ
10316,258,41,male,s4,t0,4,87.476,FNSZ
10317,258,41,male,s4,t0,5,87.476,FNSZ
10318,258,41,male,s4,t0,6,87.476,FNSZ
10319,258,41,male,s4,t0,7,87.476,FNSZ
10320,258,41,male,s4,t0,8,87.476,FNSZ
10321,258,41,male,s4,t0,9,87.476,FNSZ
10322,258,41,male,s4,t0,10,87.476,FNSZ
10323,258,41,male,s4,t0,11,87.476,FNSZ
10324,258,41,male,s4,t0,12,87.476,FNSZ
10325,258,41,male,s4,t0,13,87.476,FNSZ
10326,258,41,male,s4,t0,14,87.476,FNSZ
10327,258,41,male,s4,t0,15,87.476,FNSZ
10328,258,41,male,s4,t0,16,87.476,FNSZ
10329,258,41,male,s4,t0,17,87.476,FNSZ

                  patientID  age  gender  sessionID  fileID  segment  \
sessionID fileID
s1        t0              1    1       1          1       1       47
s2        t2              1    1       1          1       1       24
s3        t0              1    1       1          1       1       26
          t1              1    1       1          1       1       23
          t2              1    1       1          1       1       38
          t3              1    1       1          1       1       22
          t4              1    1       1          1       1       21
          t5              1    1       1          1       1       20
s4        t0              1    1       1          1       1       36

                  seizureDuration  seizureType
sessionID fileID
s1        t0                    6            1
s2        t2                    1            1
s3        t0                    1            1
          t1                    1            1
          t2                    1            1
          t3                    1            1
          t4                    1            1
          t5                    1            1
s4        t0                    4            1